/* CSS styles for the stock detail page */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}

h1 {
    color: #333;
    font-size: 24px;
}

.home {
    transition: 3s;
}

.home.hide {
    transform: translateX(-120%);
}

.search-bar {
    left: 50%;
    transition: 2.1s;
}

.search-bar.hidden {
    left: -60%;
}

.home .stock:hover {
    cursor: pointer;
}

.home .stock-info {
    margin-top: 20px;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
}

.home .stock-info {
    transition: transform 0.5s;
}

.home .stock-info:hover {
    transform: scale(1.1);
}

.home .stock-info p {
    margin: 0;
    color: black;
}

.home .stock-info .symbol {
    font-weight: bold;
    font-size: 18px;
}

.home .stock-info .price {
    font-size: 24px;
    margin-top: 10px;
}

.home .stock-info .change {
    color: green;
}

.home .stock-info .change.negative {
    color: red;
}

.home .fa-regular.fa-heart {
    color: #ccc;
    font-size: 24px;
    cursor: pointer;
}

.home .fa-solid.fa-heart {
    color: red;
    font-size: 24px;
    cursor: pointer;
}

/* Style for the ad container */
.home .ad-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* Semi-transparent background */
    z-index: 9999;
    /* Make sure the ad is on top of other elements */
    display: flex;
    justify-content: center;
    align-items: center;
    /* Hide the ad by default */
    display: none;
}

/* place the button close-button on the top right corner of ad-content */
.home .ad-container img {
    width: 450px;
    height: 450px;
    border-radius: 10px;
}

/* Style for the ad content */
.home .ad-content {
    border-radius: 5px;
    padding: 12px;
    background-color: white;
    border-radius: 15px;
}

.home .ad-content div {
    position: relative;
}

.home .ad-content div .close-ad {
    position: absolute;
    top: -2px;
    right: 9px;
    color: white;
    font-size: 24px;
    cursor: pointer;
}

/* Style for the close button */
.home .close-button {
    position: absolute;
    top: 0px;
    right: 0px;
}

/* Style for the navigation button */
.fa-chevron-right {
    position: fixed;
    z-index: 9998;
    top: 50%;
    right: 20px;
    animation: moveRight 1s infinite alternate;
    cursor: pointer;
    font-size: 24px;
    opacity: 0.5;
}

@keyframes moveRight {
    0% {
        right: 20px;
    }

    100% {
        right: 40px;
    }
}

.current-content {
    width: 100%;
    height: 100%;
    transition: 3.5s;
    transform: translateX(0%);
}

.current-content.hidden {
    transform: translateX(-120%);
}

/* .search-bar {
    transition: 2s;
}

.search-bar.hide {
    transform: translateX(-100%);
} */

.new-content {
    display: block;
    /* make the content start from the top of the page */
    position: absolute;
    top: 0;
    left: 1920px;
    transition: left 3.5s;
}

.new-content.show {
    left: 0px;
    width: 100vw;
}


.home .new-content .article {
    border-bottom: 1px solid #e2e2e2;
    margin: 20px 15% 16px 15%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.home .new-content .article-post-search {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 83%;
}

.home .new-content .article-search {
    border-bottom: 1px solid #e2e2e2;
    margin: 20px 22% 16px 22%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.home .new-content .article-post a,
.home .new-content .article-post-search a {
    color: black;
    display: flex;
    text-decoration: none;
}

.container-fluid {
    position: relative;
}

.home .new-content .date {
    padding: 20px 14px;
    width: 21%;
}

.date-search {
    padding: 20px 14px;
    width: 21%;
}

.home .new-content .date,
.home .new-content .date-search,
.home .new-content .reporters,
.home .new-content #date {
    font-size: 0.7rem;
}

.dropdown-item {
    border-bottom: 1px solid black;
    display: flex;
    justify-content: center;
    width: 96%;
    margin: 0;
}

.dropdown-item .nav-link,
.dropdown-item .nav-link:hover {
    color: #333 !important;
}

.dropdown-item:hover {
    background: #fff;
}

.dropdown-item .nav-link:hover {
    text-decoration: underline;
}

.dropdown-menu {
    border: none;
    display: none;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    padding: 0 0;
    width: 100%;
}

.navbar-toggler {
    border: none;
    box-shadow: none !important;
    font-size: 15px;
    outline: none !important;
}

.bi-x-lg {
    font-size: 20.5px;
}

.home .new-content .headline,
.headline-search {
    font-size: 1.3rem;
}

.headline-search {
    line-height: 1.4em;
}

.home .new-content .header-container {
    display: flex;
    justify-content: flex-start;
    padding-left: 22.2%;
}

.header-container,
#query,
#submit {
    background: #f7f7f7;
}

.home .new-content .header-container div {
    padding: 20px 0;
    width: 67%;
}

.home .new-content .headline,
.home .new-content #headline {
    font-weight: 600;
}

.home .new-content .main {
    padding: 14px;
    font-size: 0.8rem;
    width: 50%;
}

.home .new-content .main-search {
    padding: 14px 30px;
    font-size: 0.8rem;
    flex-basis: 70%;
}

.home .new-content .main,
.home .new-content #content,
.home .new-content #summary,
.main-search {
    font-family: 'Merriweather', serif;
}

.home .new-content .image {
    width: 29%;
}

.home .new-content .image-search {
    flex-basis: 30%;
}

.navbar {
    background: #fff !important;
    border-bottom: 1px solid #cecece;
    margin-right: 1px;
}

.navbar-brand {
    font-family: 'UnifrakturCook', cursive !important;
    font-size: 38px;
    font-weight: 800;
    padding: 0;
}

.navbar-text {
    color: #000 !important;
    font-size: 12.5px;
    position: absolute;
    right: 15%;
}

.navbar-text,
#reporters {
    font-weight: bold;
}

.home .new-content .reporters a {
    color: #999;
}

.home .new-content .reporters-search {
    font-size: 0.73rem;
}

.home .new-content .headline a,
.home .new-content .headline-search a {
    color: #000;
}

.home .new-content .section {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3em;
    font-weight: bold;
    margin: 3% 0 0 15.6%;
    letter-spacing: 0.001rem;
}

.home .new-content #content {
    white-space: pre-wrap;
}

.home .new-content #input {
    height: 2%;
    padding: 5px;
    width: 90%;
}

.home .new-content #select {
    font-size: 14px;
    padding-top: 20px;
    width: 5%;
}

.home .new-content #select option {
    background: #fff;
    color: #333;
}

.home .new-content #select select {
    background: #f7f7f7;
    border: none;
    color: #333;
    padding: 5px;
}

.home .new-content #select select:focus {
    box-shadow: 0 0 10px #ccc;
}

#show-more,
#show-more-first {
    background-color: #ebebeb;
    border: 1px solid #ccc;
    border-radius: 3px;
    color: #333;
    font-size: 0.6rem;
    font-weight: 700;
    height: 30px;
    margin: 30px 0 0;
    min-width: 130px;
    padding: 7px 9px;
    text-transform: uppercase;
}

.home .new-content #image img {
    width: 100%;
}

.home .new-content #label {
    color: #666;
    font-size: 13px;
    margin-bottom: 0;
    padding-left: 8px;
}

.home .new-content #reporters {
    margin-top: 20px;
}

.home .new-content #search-form {
    display: flex;
    flex-wrap: wrap;
    font-size: 25px;
    width: 100%;
}

#query {
    font-size: 30px;
    font-weight: bold;
    margin-right: 10%;
    outline: none;
    width: 80%;
}

#query:hover,
#query:focus {
    border-bottom: 1px solid #e2e2e2;
}

#query,
#submit {
    border: none;
}

#submit {
    display: inline;
    font-size: 18px;
}

#summary {
    color: #333;
    font-size: 1.2rem;
}

#query::placeholder {
    color: #aaa;
    font-family: 'Roboto', sans-serif;
    ;
    font-size: 22px;
}

option {
    color: #888;
}

.home .new-content #headline {
    font-style: italic;
}

.home .new-content h1,
.home .new-content .heading {
    font-family: 'Domine', serif;
}

.not-match {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.not-match .h5 {
    font-size: 18px;
}

.not-match .h4 {
    margin-bottom: 30px;
}

.not-match .h4,
.not-match .h5 {
    font-weight: bolder;
}

/* @media (max-width: 1536px) {

    .article-post-search {
        width: 83%;
    }

    .date {
        width: 21%;
    }

    .date-search {
        width: 21%;
    }
    
    .image {
        width: 29%;
    }

    .main, .main-search {
        width: 50%;
    }

    .image-search {
        width: 29%;
    }
} */

@media (max-width: 1366px) {
    .home .new-content .article {
        margin: 20px 10% 16px 10%;
    }

    .home .new-content .date {
        width: 15%;
    }

    .home .new-content .date-search {
        width: 15%;
    }

    .home .new-content .main,
    .home .new-content .main-search {
        width: 60%;
    }

    .home .new-content .navbar-text {
        right: 10%;
    }

    .home .new-content .image {
        width: 25%;
    }

    .home .new-content .image-search {
        width: 25%;
    }

    .home .new-content .section {
        margin: 3% 0 0 10.5%;
    }
}

@media (max-width: 1300px) {
    .home .new-content .article-search {
        margin: 20px 5% 16px 5%;
    }

    .home .new-content .header-container {
        padding-left: 5.5%;
    }

    .home .new-content .header-container div {
        width: 90%;
    }

    .home .new-content #query {
        width: 80%;
    }
}

@media (min-width: 800px) {

    .home .new-content .article-post {
        display: flex;
        justify-content: space-between;
        width: 88%;
    }

    .home .new-content .image img {
        width: 100%;
    }

    .home .new-content .image-search img {
        width: 100%;
    }

    .home .new-content #article {
        align-items: center;
        display: flex;
        flex-direction: column;
        font-size: 16px;
        margin: 2.9rem 0;
    }


    .home .new-content #article h1,
    .home .new-content #article p,
    .home .new-content #article div,
    .home .new-content #article #image {
        width: 600px;
    }
}

@media (max-width: 799px) {
    .home .new-content .article {
        align-items: center;
        border-bottom: 1px solid #e2e2e2;
        display: flex;
        flex-direction: column-reverse;
        margin: 20px 24px 31px 24px;
    }

    .home .new-content .article-post {
        display: flex;
        flex-direction: column-reverse;
    }

    .home .new-content .article-search {
        border-bottom: 1px solid #e2e2e2;
        display: flex;
        flex-direction: column;
        margin: 20px 24px 31px 24px;
    }

    .home .new-content .date,
    .home .new-content .date-search,
    .home .new-content .image,
    .home .new-content .main,
    .home .new-content .main-search {
        width: 100%;
        padding: 0;
        margin: 0;
    }

    .home .new-content .image-search {
        width: 35.5%;
    }


    .home .new-content .article-post-search {
        display: flex;
        width: 100%;
        height: 100%;
    }

    .home .new-content .image {
        margin-bottom: 10px;
        height: 100%;
    }


    .home .new-content .image-search {
        margin-bottom: 10px;
        height: 100%;
    }

    .home .new-content .image img {
        width: 100%;
    }

    .home .new-content .image-search img {
        width: 100%;
    }

    .home .new-content .not-match>div {
        width: 90%;
    }

    .home .new-content .reporters {
        display: none;
    }

    .home .new-content .section {
        font-size: 2.1rem;
        margin: 3% 0 0 20px;
    }

    .home .new-content #article {
        align-items: center;
        display: flex;
        flex-direction: column;
        font-size: 16px;
        margin: 1.6rem 5px 2.9rem 5px;
    }

    .home .new-content #headline,
    .home .new-content #summary,
    .home .new-content #image,
    .home .new-content #reporters,
    .home .new-content #date,
    .home .new-content #content {
        width: 95%;
    }

    .home .new-content #select {
        margin-left: 11.5px;
    }

    .home .new-content #query {
        width: 75%;
    }

    .home .new-content .header-container {
        padding-left: 12px;
    }

    .home .new-content .header-container div,
    .home .new-content #input {
        width: 100%;
    }
}

@media (max_width: 600px) {
    .home .new-content .article-post {
        display: flex;
        flex-direction: column-reverse !important;
        justify-content: space-between;
        width: 88%;
    }

    .home .new-content .section {
        padding: 20px;
    }
}

.headline, .headline-search {
    font-size: 1.3rem;
}

.headline-search {
    line-height: 1.4em;
}

.header-container {
    display: flex;
    justify-content: flex-start;
    padding-left: 22.2%;
}

.header-container, #query, #submit {
    background: #f7f7f7;
}

.header-container div {
    padding: 20px 0;
    width: 67%;
}

.headline, #headline {
    font-weight: 600;
}

.main {
    padding: 14px;
    font-size: 10rem;
    width: 50%;
}

.main-search {
    padding: 14px 30px;
    font-size: 0.8rem;
    flex-basis: 70%;
}

.main, #content, #summary, .main-search {
    font-family: 'Merriweather', serif;
}

.image {
    width: 29%;
}

.image-search {
    flex-basis: 30%;
}
.headline, .headline-search {
    font-size: 1.3rem;
}

.headline-search {
    line-height: 1.4em;
}

.header-container {
    display: flex;
    justify-content: flex-start;
    padding-left: 22.2%;
}

.header-container, #query, #submit {
    background: #f7f7f7;
}

.header-container div {
    padding: 20px 0;
    width: 67%;
}

.headline, #headline {
    font-weight: 600;
}

.main {
    padding: 14px;
    font-size: 0.9rem;
    width: 50%;
}

.main-search {
    padding: 14px 30px;
    font-size: 0.8rem;
    flex-basis: 70%;
}

.main, #content, #summary, .main-search {
    font-family: 'Merriweather', serif;
}

.image {
    width: 29%;
}

.image-search {
    flex-basis: 30%;
}

.headline, .headline-search {
    font-size: 1.3rem;
}

.home .new-content .main .summary a {
    font-size: 0.9rem;
}