body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    color: #333;
    text-align: center;
    margin-top: 50px;
}

p {
    color: #666;
    text-align: center;
    margin-top: 20px;
}

.stock:hover {
    cursor: pointer;
}

.stock-image {
    display: block;
    margin: 0 auto;
    margin-top: 50px;
    width: 300px;
    height: 200px;
    background-color: #ccc;
    border-radius: 5px;
}

/* center image vertically and horizontally */
.stock-image img {
    display: block;
    margin: 0 auto;
    margin-top: 50px;
    /* make images keep their aspect ratio but fill the container */
    width: 100%;
    height: 100%;
    object-fit: cover;

    border-radius: 5px;
}

.stock-info {
    text-align: center;
    margin-top: 20px;
}

.stock-name {
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

.stock-price {
    font-size: 18px;
    color: #666;
}

